@font-face {
    font-family: 'Gotham';
    src: url("http://db.onlinewebfonts.com/t/d547aef890f72e341f3398e358ef6610.eot");
    src: url("http://db.onlinewebfonts.com/t/d547aef890f72e341f3398e358ef6610.eot?#iefix") format("embedded-opentype"),
        url("http://db.onlinewebfonts.com/t/d547aef890f72e341f3398e358ef6610.woff2") format("woff2"),
        url("http://db.onlinewebfonts.com/t/d547aef890f72e341f3398e358ef6610.woff") format("woff"),
        url("http://db.onlinewebfonts.com/t/d547aef890f72e341f3398e358ef6610.ttf") format("truetype"),
        url("http://db.onlinewebfonts.com/t/d547aef890f72e341f3398e358ef6610.svg#Gotham") format("svg");
    font-weight: 500;
}

body {
	font-family: Gotham;
}
.btn-primary.outline {
	background-color: #fd3c16;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #a6a3a3;
}

.btn-primary.outline:active, .btn-primary.outline.active {
	color: #007299;
	box-shadow: none;
}

.btn-lg.round {
	border-radius: 50px;
	width: 471px;
	height: 100px;
	font-size: 25px;
	font-color: #ffffff;
	margin-top: 85px;
}

.btn-warning {
	background-color: #ffbd36;
	height: 58px;
	width: 240px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.create {
	background-color: #fd3c16;
	border-radius: 38px;
	font-size: 24px;
	height: 75px;
	width: 235px;
	color: #ffffff;
}

.cancel {
	background-color: #c8c8c8;
	border-radius: 38px;
	font-size: 24px;
	height: 75px;
	width: 235px;
	color: #a6a3a3;
}

.modal-title {
	color: #fd3c16
}