{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Revisions</title>
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/paper/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

 <nav class="navbar navbar-inverse">
  <div class="container-fluid svg-nav">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Revisions</a>
    </div>   
  </div>
</nav>

  <div class="main-container">
    <div class="container-fluid arts">
      {% if revisions %}
      {% for revision in revisions %}
      <div class="col-md-3 art-outline" id="{{ revision.artboard.artboard }}">
        <div class="art-frame">
          <a href='/svg?url={{ revision.artboard.location }}'>
            <div class="art-thumb" style="background-image:url(/{{ revision.artboard.location }});">
              <div class="caption art-caption">
                <div>
                  <button class="btn art-name">{{ revision.artboard.created }}</button>
                </div>
              </div>
            </div>
          </a>
          <div class="dropdown art-drop">
            <button class="btn dropdown-toggle btn-art-drop" type="button" data-toggle="dropdown">
              <span class="glyphicon glyphicon-cog cog-style-art">
              </span>
            </button>
            <ul class="dropdown-menu art-drop-menu">                      
              <li><a href="/download_artboard?artboard={{ revision.artboard.location }}">DOWNLOAD</a></li>
            </ul>  
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
  
</body>
</html>