<!DOCTYPE html>
<html>
<head>
  <title>SVG</title>
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/paper/bootstrap.min.css">
</head>
<body>

  <nav class="navbar navbar-inverse" style="margin-bottom:0;">
    <div class="container-fluid" style="background-color:#3385ff;">
      <div class="navbar-header" style="display:inline-block">
        <a class="navbar-brand" style="color:FFFFFF;" href="#">SVG Parser</a>
      </div>
  </div>
</nav>

<div style="text-align:center;margin-top:250px;">
  <h3>Oops... Something went wrong!</h3>
</div>

</body>
</html>